
body {
 background-image: url(backimage.jpeg); 
   background-size: 2500px;
   background-position-x: center; /* Add this line */
   background-position-y: center; 
   font-family:  'Playfair Display';
}

h1{
    text-align: center;
}

.App{
    display: grid;
    grid-template-columns: 200px 1fr ;
    grid-template-rows: auto none;  
    margin-bottom: 2%; 
}

.Appchild{
    margin-right: 25px;
}

.items{
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    text-align: center;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 10px; /* Rounded edges */
    transition: all 0.3s ease-in-out;
    margin: 2%;
    height: 100%;
    overflow-x: auto;
    flex: 0 0 50%;

}
.items:hover {
        box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
        transform: translate3d(0px, -1px, 0px);
        margin-top: -1px;
      }


.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    grid-gap: 10px; 

}

.nav{
   
    text-align:center ;
    text-decoration: none;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #eddad6;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    justify-content: flex-end;
    margin: 0%;
    font-family:  'Playfair Display';
    background-color: rgba(0,0,0,.5);
    color: #fff;
 
}

.navchild:hover{
    background-color:rgb(132, 132, 201);
}

.navchild{
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    padding: 5px;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-size: 20px ;
    column-gap: 10px;
    margin-right: 15px;

}
.edi{
    color: black;
    text-decoration: none;
    padding: 0.2rem .5rem;
    background-color: #eddad6;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    border: none;
    font-family:  'Playfair Display';
    font-size: 16px;
    margin-right: 10px;
    font-size: 12px;

}

.del{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.edit{
    color: black;
    text-decoration: none;
    padding: 0.2rem .5rem;
    background-color: #eddad6;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    border: none;
    font-family:  'Playfair Display';
    font-size: 16px;
    margin-right: 10px;
    align-items: center;
    margin: auto;
}

.edit:hover{
    background-color:rgb(132, 132, 201);
   
}
.edi:hover{
    background-color: #eee6ba;

}
.button{
    align-items: center;
    display: flex;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 10%
  }